# Файлы Flutter
.dart_tool/
.packages
.pub-cache/
.pub/
build/
.flutter-plugins
.flutter-plugins-dependencies

# Файлы IDE
.vscode/
.idea/
*.swp
*.swo

# Системные файлы
.DS_Store
Thumbs.db# Flutter
build/
.dart_tool/
.packages
pubspec.lock
.idea/
.vscode/

# Env
.env
